:root {
  /* Colors */
  --primary: #2c394b;
  --secondary: #dddddd;
  --tertiary: #ff4c29;
  --quaternary: #334756;
  --NS-black: #262626;
  --boxGap: 1%;
}

/*
  #f36f27
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6em;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  display: flex;
  min-height: 100%;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  background: var(--primary);
  color: var(--secondary);
  font-family: 'Solway', serif;
}

body > * {
  flex: 0 auto;
}

header {
  height: fit-content;
  display: flex;
  justify-content: center;
  margin: 3em 0;
}

header #logo {
  height: 9em;
  width: auto;
  border-radius: 50%;
}

#projects {
  max-width: 100rem;
  width: fit-content;
  margin-bottom: 3em;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#projects .project {
  cursor: pointer;
  width: calc(50% - 2 * var(--boxGap));
  margin: var(--boxGap);
  padding: 1.5em;
  background: var(--quaternary);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px rgba(0, 0, 0, 0.03);
  border-radius: 2rem;
  color: var(--secondary);
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

.project:hover {
  transform: scale(1.01, 1.02);
  transition: 0.1s;
}

.project h2 {
  font-size: 2rem;
  margin-bottom: 0.5em;
  color: var(--tertiary);
}

.project a {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.project a .fa-stack {
  font-size: 1rem;
}

.project a .icon-circle {
  color: var(--primary);
}

.project a .icon-arrow {
  font-size: 1.4rem;
}

footer {
  margin-top: auto;
  width: 100%;
  min-height: 33vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 0 8rem;
  width: 100%;
  flex-wrap: wrap;
}

#info h1 {
  font-size: 4.4rem;
  color: var(--tertiary);
}

#info h2 {
  font-size: 3.4rem;
}

#info h3 {
  font-size: 2.5rem;
}

#social-links {
  color: var(--secondary);
  align-self: flex-end;
}

#social-links .icon-social {
  font-size: 5.6rem;
  margin-left: 0.5rem;
}

@media (max-width: 875px) {
  #projects .project {
    width: 100%;
  }
  #projects .project:not(:last-child) {
    margin-bottom: 1em;
  }

  footer {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  .footer-content {
    margin: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  footer #social-links {
    margin: 0;
    align-self: initial;
  }

  footer #info {
    margin: 0;
  }

  #info h1 {
    font-size: 3.5rem;
  }

  #info h2 {
    font-size: 2rem;
  }

  #info h3 {
    font-size: 1.8rem;
  }
}
