:root {
  --primary: rgb(44, 57, 75); /* #2c394b */
  --secondary: rgb(221, 221, 221); /* #dddddd */
  --tertiary: rgb(255, 76, 41); /* #ff4c29 */
  --quaternary: rgb(51, 71, 86); /* #334756 */
  --NS-black: rgb(38, 38, 38); /* #262626 */
  --gridGap: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  font-family: Solway, sans-serif, Helvetica, Arial, Roboto, -apple-system, serif;
  color: var(--secondary);
  background: var(--primary);
}

html,
body,
#__next {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
