:root {
  /* Colors */
  --primary: #2c394b;
  --secondary: #dddddd;
  --tertiary: #ff4c29;
  --quaternary: #334756;
  --NS-black: #262626;
  --boxGap: 1%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Solway, sans-serif, Helvetica, Arial, Roboto, -apple-system, serif;
}

body {
  background: var(--primary);
  color: var(--secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
