.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
}

.main {
  margin-bottom: 3em;
}

.footer {
  margin-top: auto;
  padding: 0 5em 5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;

  h1 {
    font-size: 2.8em;
    color: var(--tertiary);
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.4em;
  }

  .social_links {
    margin-top: 2em;
    color: var(--secondary);
    display: flex;
    gap: 10px;

    a {
      height: 50px;
      width: 50px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;

      &.email {
        width: 60px;
      }

      .icon_img {
        filter: grayscale(100%);
        transition: 0.2s ease-in-out;

        &:hover {
          filter: grayscale(0%);
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
}

.logo_container {
  height: 9em;
  width: 9em;
  position: relative;

  .logo {
    border-radius: 50%;
  }
}

.title {
  align-self: flex-start;
  color: var(--tertiary);
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(2, min(50rem, calc(50% - 1.5 * var(--gridGap))));
  grid-gap: var(--gridGap);
  place-content: center;
  grid-template-areas: 'header header';

  .grid_item_1 {
    grid-area: header;
  }
}

@media (max-width: 768px) {
  .grid_container {
    grid-template-columns: calc(100% - 2 * var(--gridGap));
    grid-template-areas: 'header';
  }

  .footer {
    padding: 2em 0.5em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .info {
      text-align: center;

      h1 {
        font-size: 2.2em;
      }

      h2 {
        font-size: 1.4em;
      }

      h3 {
        font-size: 1.1em;
      }
    }

    .social_links a .icon_img {
      filter: grayscale(0%);
    }
  }
}

/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
